/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');*/
@font-face{
	font-family:'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf') format('truetype');
}
@font-face{
	font-family:'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf') format('truetype');
}
@font-face{
	font-family:'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/Open_Sans/static/OpenSans/OpenSans-ExtraBold.ttf') format('truetype');
} 
html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	min-height: 100%;
	font-family: 'Open Sans', sans-serif;
	background-color: #000;
}

/*Кнопка скролла наверх*/
#scrollToTopBtn {
	display: none;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 9999;
	text-align: center;
	background-color: #555;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
}

#scrollToTopBtn:hover {
	background-color: #ff2d2d;
}

/*Форма покупки*/
.overlay {
	position: fixed;
	top: 0;
	left: 50%;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	transform: translateX(-50%);
	opacity: 0;
	display:flex;
  	visibility: hidden;
  	transition: opacity 0.3s ease, visibility 0.3s ease;
	justify-content: center;
	align-items: center;
	z-index: 101;
}

.overlay.show {
	display:flex;
  	opacity: 1;
  	visibility: visible;
}

#formContainer {
	border-radius: 5px;
	width: 700px;
	min-height: 300px;
	display: flex;
	flex-direction: column;
	background-color: #1d2a35;
	color: #fff;
	padding: 20px;
}
#purchaseForm {
	display: flex;
	flex-direction: column;
}
#formContainer h2 {
	margin-top: 0;
}
#quantity {
	background: #000;
	color: #fff;
	width: 20%;
	border: 1px solid #ff2d2d;
	border-radius: 5px;
}
#comment {
	background: #000;
	color: #fff;
	margin-top: 10px;
	border: 1px solid #ff2d2d;
	height: 100px;
	resize: vertical;
	border-radius: 5px;
}
.btns {
	display: flex;
}
#buyButton {
	padding: 0;
	background-color: transparent;
	border-radius: 8px;
	border-color:  #ff2d2d;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	box-shadow: none;
	cursor: pointer;  
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	margin-right: 20px;
	padding: 10px 15px;
	border: 2px solid;
	border-radius: 5px;
	font-size: 15px;
	font-weight: 700;
	color: #ff2d2d;
	background: #000;
	transition: 0.3s;
	width: 140px;
	height: 40px;
	line-height: 34px;
}

#buyButton:hover {
	box-shadow: 0px 2px 8px 2px;
	background: #ff2d2d;
	color: #000;
}

#closeButton {
	padding: 0;
	background-color: transparent;
	border-radius: 8px;
	border-color:  #ff2d2d;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	box-shadow: none;
	cursor: pointer;  
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	padding: 10px 15px;
	border: 2px solid;
	border-radius: 5px;
	font-size: 15px;
	font-weight: 700;
	color: #ff2d2d;
	background: #000;
	transition: 0.3s;
	width: 140px;
	height: 40px;
	line-height: 34px;
}
#closeButton:hover {
	box-shadow: 0px 2px 8px 2px;
	background: #ff2d2d;
	color: #000;
}

/*Шапка*/
.toggle-theme {
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	text-align: center;
	border: none;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	background-color: #000;
	color: #fff;
}

.toggle-theme:hover {
	color: #FF3F40;
}

.icon1 {
	display:none;
}

.header-list {
	display:flex;
	justify-content: center;
	margin: 0 auto;
	width: 100%;
	min-height: 89px;
	font-weight: 400;
	background: #000000;
	position: fixed;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 100;
}
.site-menu {
	display: flex;
	margin: 0 auto;
	text-align: center;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.49px;
}
.site-menu li {
	display: flex;
	text-transform: uppercase;
	text-align: center;
}
.site-menu li a {
	padding: 38px 25px 27px 25px;
	color: #E0E0E0;
	text-decoration: none;
}
.site-menu li a:hover {
	background-color: #FF3F40;
}
/*Бытовая техника(1й этаж)*/
.stage-1 {
	padding-top: 117px;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1253px;
	min-height: 524px;
	margin: 117px auto 0px auto;
	background-color: #1d2a35;
}
.stage-1 > h2 {
	word-wrap: break-word;
	overflow-wrap: break-word;
	margin-left: 35px;
	font-weight: 700;
	font-size: 42px;
	text-transform: uppercase;
	color: #fff;
}
.prod-list {
	display: flex;
	justify-content: center;
	margin: 22px auto 0 auto;
	row-gap: 0;
	flex-wrap: wrap;
	max-width: 1432px;
	min-height: 683px;;
}
.prod {
	justify-content: space-between;
	border: 2px solid;
	border-radius: 8px;
	border-color:  #ff2d2d;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	height: 240px;
	margin: 10px 10px;
	background-color: #000;
	color: #fff;
	transition: transform 0.3s ease-in-out;
}

.prod:hover {
	transform: scale(1.1);
}

.img-text {
	display: flex;
	justify-content: space-between;
}

.img-text > img {
	border-radius: 5px;

}

.prod-text {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}
.prod-text > p {
	font-size: 15px;
	margin-bottom: 0px;
	margin-top: 4px;
}
.data {
	margin-bottom: 0px;
	text-align: center;
}

.buy-btn {
	padding: 0;
	background-color: transparent;
	border-radius: 8px;
	border-color:  #ff2d2d;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	box-shadow: none;
	cursor: pointer;  
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px 10px;
	padding: 10px 15px;
	border: 2px solid;
	border-radius: 5px;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ff2d2d;
	background: #1d2a35;
	transition: 0.3s;
	width: 280px;
	height: 51px;
	line-height: 34px;
}

.buy-btn:hover {
	box-shadow: 0px 2px 8px 2px;
	background: #ff2d2d;
	color: #000;
}
/*Компьютеры (2й этаж)*/
.stage-2 {
	padding-top: 117px;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1253px;
	min-height: 524px;
	margin: 48px auto 0px auto;
	background-color: #1d2a35;
}
.stage-2 > h2 {
	word-wrap: break-word;
	overflow-wrap: break-word;
	margin-left: 35px;
	font-weight: 700;
	font-size: 42px;
	text-transform: uppercase;
	color: #fff;
}

/*Смартфоны (3й этаж)*/
.stage-3 {
	padding-top: 117px;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1253px;
	min-height: 524px;
	margin: 48px auto 0px auto;
	background-color: #1d2a35;
}
.stage-3 > h2 {
	word-wrap: break-word;
	overflow-wrap: break-word;
	margin-left: 35px;
	font-weight: 700;
	font-size: 42px;
	text-transform: uppercase;
	color: #fff;
}

/*Автотовары(4й этаж)*/
.stage-4 {
	padding-top: 117px;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1253px;
	min-height: 524px;
	margin: 48px auto 0px auto;
	background-color: #1d2a35;
}
.stage-4 > h2 {
	word-wrap: break-word;
	overflow-wrap: break-word;
	margin-left: 35px;
	font-weight: 700;
	font-size: 42px;
	text-transform: uppercase;
	color: #fff;
}

/*Спорт (5й этаж)*/
.stage-5 {
	padding-top: 117px;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1253px;
	min-height: 524px;
	margin: 48px auto 0px auto;
	background-color: #1d2a35;
}
.stage-5 > h2 {
	word-wrap: break-word;
	overflow-wrap: break-word;
	margin-left: 35px;
	font-weight: 700;
	font-size: 42px;
	text-transform: uppercase;
	color: #fff;
}

/*Футер*/
footer {
	background-color: #313030;
}
.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin:0 auto;
	max-width: 1586px;
	min-height: 113px;
}
.footer > p {
	color: #B8B8B8;
	font-size: 16px;
	line-height: 26px;
	margin-top: 30px;
	margin-left: 139px;
}
.footer-text {
	display: flex;
	margin-top: 17px;
	margin-right: 115px;
}
.footer-list {
	display: flex;
	justify-self: flex-end;
	list-style-type: none;
}
.footer-list > li > a {
	margin-right: 18px;
	color: #B8B8B8;
	font-size: 16px;
	text-decoration: none;
}

.footer-list > li > a:hover {
	color: #ff2d2d;
	text-decoration: underline;
}

@media screen and (max-width: 650px) {
	.site-menu {
		flex-wrap: wrap;
		flex: 1 1 100px;
	}
	.stage-1 {
		margin: 490px auto 0px auto;
	}
	.footer {
		flex-wrap: wrap;
	}
	.footer-list {
		flex-wrap: wrap;
		list-style-type: disc;
		color: #B8B8B8;
	}
	.footer-list > li:hover {
		color: #ff2d2d;
	}
	.footer-list > li > a {
		margin-right: 18px;
		margin-bottom: 18px;
		color: #B8B8B8;
		font-size: 16px;
	}
	.toggle-theme {
		position: inherit;
	}
}